.App {
    text-align: center;
}

.user__input {
    display: flex;
}

.due_entry {
    margin-left: 10px;
}

.add_button {
    margin-left: 10px;
    margin-top: 12px;
}

h2 {
    text-align: left;
    margin-left: 30px;
}
